<div class="navbar">
  <%= link_to "articles","#articles" , class: "tab navbar-link", data: { toggle: 'tab'} %>
  <%= link_to "pages","#pages" , class: "tab navbar-link active", data: { toggle: 'tab'}   %>
  <%= link_to "ressources","#ressources" , class: "tab navbar-link", data: { toggle: 'tab'}  %>
</div>


<div id="content">
<div class="tab-content">
  <div id="articles" class="tab-pane fade "><%= partial "bali/articles" %></div>
  <div id="pages" class="tab-pane faden active"><%= partial "bali/pages" %></div>
  <div id="ressources" class="tab-pane fade"><%= partial "bali/ressources" %></div>
</div>
</div>
